tandoori_library/bower_components/*
tandoori_library/static/rest_framework_swagger/*
tandoori_library/static/tandoori_library/js/bootlint.js
tandoori_library/static/tandoori_library/js/ckeditor
tandoori_library/static/tandoori_library/js/requirejs-plugins
tandoori_library/static/tandoori_library/js/jquery.easyselect.js
tandoori_library/static/tandoori_library/js/library.js
tandoori_library/static/tandoori_library/js/setup.js
tandoori_library/static/tandoori_library/js/makeRequireConfig.js
tandoori_library/static/tandoori_library/js/require.wallaby.js
docs/_build/*
**/*min.js
**/coverage/
node_modules/
**/tests_js/**/*.specRunner.js
**/tests_js/**/data/*
**/tests_js/**/mocks/*
**/djangojs.js
**/karma.conf.js