

.card {
  box-shadow: 1px 2px 2px $darkgrey;
  border-radius: 2px;
  background-color: $white;
  .header {
    display: flex;
    align-items: center;
    div {
      padding: 15px;
    }

    .picture {
      img {
        max-height: 50px;
      }
    }

    .title {
      h3 {
        margin: 0;
        color: $lightblack;
      }
    }
  }

  .rich-media {

    .media {
      width: 100%;
    }
  }

  .body {
    padding: 15px 15px 5px 15px;
    .body-text {
      color: $darkgrey;
    }

    .actions {
      margin-top: 15px;
      display: flex;
      justify-content: space-between;
      .secondary-actions {
        display: flex;
        align-items: center;
        a {
          font-size: 2em;
          color: $grey;
          margin-right: 15px;

          &:hover {
            color: $dark-blue;
          }

          span {

          }
        }
      }

      .main-actions {
        button {

        }
      }
    }
  }
}
