$no-margin: 0;
$default-margin: 15px;

.card {
  box-shadow: $material-shadow-2;
  border-radius: 2px;
  background-color: $white;
  margin-bottom: $default-margin;
  overflow: hidden;
  color: $lightblack;
}

/* -- Skins -- */

.card--default-struct { // TODO: split struct and skin
  margin-bottom: $default-margin;
}
.card--bottom-btn {
  margin-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/* -- Rich Media -- */

.card__rich-media {
  width: 100%;
}
.card__profile-pic {
  max-height: 100px;
}
.card__rich-media--img-bg {
  background-size: cover;
  background-position: center;
}

/* -- Body blocks -- */


.card__text {
  padding: 15px 15px 5px;
  color: $lightblack;
}

.card__block {
  padding: $default-margin;
}
.card__block--flexed {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.card__block--half-width {
  width: 50%;
}

.card__list {
  padding-left: 20px;
  list-style-type: square;
}
.card__list-item {
  color: $lightblack;
  border-bottom: 1px solid $lightgrey;
  padding: 15px 15px 5px;
  align-items: center;
}


/* -- Body block skins */

.card__block--bordered {
  border-top: 1px solid $lightgrey;
  border-bottom: 1px solid $lightgrey;
}

.card__text--cropped-1 {
  display: inline-block;
  margin: $default-margin;
  margin-bottom: $no-margin;
  width: calc(100% - 30px);
  position: relative;
  font-size: 14px;
  line-height: 14px;
  height: 28px;
  overflow: hidden;
}
.card__text--cropped-1::after {
  content: $empty;
  height: 14px;
  background: $white;
  position: absolute;
  right: 0;
  left: 0;
  top: 14px;
  bottom: 0;
}
.card__text--cropped-2 {
  display: inline-block;
  margin: $default-margin;
  margin-bottom: $no-margin;
  width: calc(100% - 30px);
  position: relative;
  font-size: 14px;
  line-height: 14px;
  height: 42px;
  overflow: hidden;
}
.card__text-tag {
  color: $grey;
}
.card__text--cropped-2::after {
  content: $empty;
  height: 14px;
  background: $white;
  position: absolute;
  right: 0;
  left: 0;
  top: 28px;
  bottom: 0;
}
.card__text--cropped-5 {
  display: inline-block;
  margin: $default-margin;
  margin-bottom: $no-margin;
  width: calc(100% - 30px);
  position: relative;
  font-size: 14px;
  line-height: 14px;
  height: 84px;
  overflow: hidden;
}
.card__text--cropped-5::after {
  content: $empty;
  height: 14px;
  background: $white;
  position: absolute;
  right: 0;
  left: 0;
  top: 70px;
  bottom: 0;
}

/* -- Headers -- */

.card__title { // Simple title
  margin: $default-margin;
  font-size: 16px;
  line-height: 16px;
}

.card__header {
  display: flex;
  padding: 15px;
  align-items: center;
  justify-content: space-between;
}
.card__header-picture {
  max-height: 50px;
}
.card__header-title {
  margin: $no-margin;
  color: $lightblack;
}
.card__subheader {
  color: $primary;
  padding: 5px 15px;
}

/* -- Header skins -- */

.card__title--primary {
  color: $primary;
}
.card__title--cropped {
  margin-bottom: $no-margin;
  display: inline-block;
  width: calc(100% - 30px);
  position: relative;
  height: 48px;
  overflow: hidden;
}
.card__title--cropped::after {
  content: $empty;
  height: 16px;
  background: $white;
  position: absolute;
  right: 0;
  left: 0;
  top: 32px;
  bottom: 0;
}

/* -- Actions -- */

.card__actions {
  display: flex;
  margin-top: 15px;
  padding: 15px 15px 5px;
  justify-content: space-between;
}
.card__actions--right {
  justify-content: flex-end;
}
.card__actions-buttons {
  display: flex;
  align-items: center;
}

.actions {
  display: flex;
  margin-top: 15px;
  padding: 15px 15px 5px;
  justify-content: space-between;
  padding-bottom: 0;
  padding-right: 0;
}
.actions--right {
  justify-content: flex-end;
}
.actions__buttons {
  display: flex;
  align-items: center;
}
.actions__icon {
  font-size: 2em;
  color: $grey;
  margin-right: 15px;
  &:hover {
    color: $dark-blue;
    text-decoration: none;
  }
}

/* Product sheet specific */

.card__product-input {
  width: 15%;
}

.long-text-ellipsis {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: none;
}
