/* STRUCTURES */

$card-margin: 0 10px 10px 10px;
$card__block-padding: 10px;

.#{$current}card {
  margin: $card-margin;
  border-radius: 2px;
}

.#{$current}card__block {
  padding: $card__block-padding;
}

.#{$current}card__actions {
  display: flex;
  flex-direction: row-reverse;
  padding: 10px;
}

.#{$current}card__actions--secondary {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.#{$current}card__rich-media {
  @include aspect-ratio(16, 9);
}

/* SKINS */

.#{$current}card--default-skin {
  box-shadow: $material-shadow;
  background-color: $white;
  color: $lightblack;
}

.#{$current}card__title--default-skin {
  color: $darkgrey;
}
