/* STRUCTURES */

.#{$current}one-one-img {
  @include aspect-ratio(1, 1);
  width: 100%;
}

.#{$current}sixtee-nein-img {
  @include aspect-ratio(1, 1);
  width: 100%;
}

.#{$current}img-full-width {
  width: 100%;
}

/* SKINS */
