.#{$current}absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.#{$current}vbox {
  display: flex;
  /* stylelint-disable-next-line */
  display: -ms-flexbox;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}

.#{$current}vbox--center {
  justify-content: center;
}

.#{$current}hbox {
  display: flex;
  /* stylelint-disable-next-line */
  display: -ms-flexbox;
  -ms-flex-direction: row;
  flex-direction: row;
}

.#{$current}hbox--wrappable {
  @extend .#{$current}hbox;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.#{$current}hbox--sa {
  justify-content: space-around;
}

.#{$current}hbox--sb {
  justify-content: space-between;
}

.#{$current}flex-1 {
  -ms-flex: 1;
  flex: 1;
}

.#{$current}scrollbox {
  overflow: auto;
}

/* -- Grid -- */

$xs-breakpoint: 0px;    // xs = [    0 →  768 [
$sm-breakpoint: 768px;  // sm = [  768 →  992 [
$md-breakpoint: 992px;  // md = [  992 → 1200 [
$lg-breakpoint: 1200px; // lg = [ 1200 →    ∞ [

.#{$current}flex-row {
  @extend .#{$current}hbox;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

$sizes: (
  ("xs", $xs-breakpoint),
  ("sm", $sm-breakpoint),
  ("md", $md-breakpoint),
  ("lg", $lg-breakpoint)
);
$nb-columns: 13; // 1 more for the loop
$col-width: 100% / 12;

@each $size, $breakpoint in $sizes {
  @media (min-width: $breakpoint) {
    @for $i from 1 to $nb-columns {
      .#{$current}flex-col--#{$size}-#{$i} {
        width: (100% / 12) * $i;
      }
      .#{$current}flex-offset--#{$size}-#{$i} {
        margin-left: (100% / 12) * $i;
      }
    }
  }
}
