.list {
  display: flex;
  flex-direction: column;
  color: $black;
}
.list__item {
  border-top: 1px solid $lightgrey;
}
.list__clickable {
  cursor: pointer;
  transition: all;
  transition-duration: 0.15s;
  &:hover {
    background-color: $lightgrey;
  }
}
.list__item-title {
  margin: $zero;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.list__item-content {
  padding: 15px;
}
.list__item-title--with-price {
  display: flex;
  justify-content: space-between;
}
.list__item-price {
  color: $primary;
}
.list__item-tags {
  padding: 10px;
  color: $grey;
  background-color: $lightgrey;
}
.list__item-text {
  color: $lightblack;
}
