@import "_colors.scss";
@import "_globals.scss";
@import "_buttons.scss";
@import "_contextual-menu.scss";
@import "_cards.scss";
@import "_lists.scss";

@import "_linearicons.scss";

$no-margin: 0;

body {
  font-family: "Lato";
  background: $app-background;
  padding-bottom: 100px;
}

h2 {
  color: $dark-blue;
  font-weight: 900;
}

.code {
  background-color: $lightgrey;
  font-family: monospace;
  padding: 3px;
  border-radius: 3px;
  color: $dark-blue;
}

.navbar {
  .navbar-header {
    .navbar-brand {
      img {
        height: 100%;
      }
    }
  }
}
