/* Globals */
.tuiv2_absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.tuiv2_vbox {
  display: flex;
  /* stylelint-disable-next-line */
  display: -ms-flexbox;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%; }

.tuiv2_hbox, .tuiv2_hbox--wrappable, .tuiv2_flex-row {
  display: flex;
  /* stylelint-disable-next-line */
  display: -ms-flexbox;
  -ms-flex-direction: row;
  flex-direction: row; }

.tuiv2_hbox--wrappable {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }

.tuiv2_hbox--sa {
  justify-content: space-around; }

.tuiv2_hbox--sb {
  justify-content: space-between; }

.tuiv2_flex-1 {
  -ms-flex: 1;
  flex: 1; }

.tuiv2_scrollbox {
  overflow: auto; }

/* -- Grid -- */
.tuiv2_flex-row {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }

.tuiv2_flex-col--lg-1 {
  width: 100%; }
  @media (min-width: 1200px) {
    .tuiv2_flex-col--lg-1 {
      width: 8.33333%; } }

.tuiv2_flex-offset--lg-1 {
  margin-left: auto; }
  @media (min-width: 1200px) {
    .tuiv2_flex-offset--lg-1 {
      margin-left: 8.33333%; } }

.tuiv2_flex-col--lg-2 {
  width: 100%; }
  @media (min-width: 1200px) {
    .tuiv2_flex-col--lg-2 {
      width: 16.66667%; } }

.tuiv2_flex-offset--lg-2 {
  margin-left: auto; }
  @media (min-width: 1200px) {
    .tuiv2_flex-offset--lg-2 {
      margin-left: 16.66667%; } }

.tuiv2_flex-col--lg-3 {
  width: 100%; }
  @media (min-width: 1200px) {
    .tuiv2_flex-col--lg-3 {
      width: 25%; } }

.tuiv2_flex-offset--lg-3 {
  margin-left: auto; }
  @media (min-width: 1200px) {
    .tuiv2_flex-offset--lg-3 {
      margin-left: 25%; } }

.tuiv2_flex-col--lg-4 {
  width: 100%; }
  @media (min-width: 1200px) {
    .tuiv2_flex-col--lg-4 {
      width: 33.33333%; } }

.tuiv2_flex-offset--lg-4 {
  margin-left: auto; }
  @media (min-width: 1200px) {
    .tuiv2_flex-offset--lg-4 {
      margin-left: 33.33333%; } }

.tuiv2_flex-col--lg-5 {
  width: 100%; }
  @media (min-width: 1200px) {
    .tuiv2_flex-col--lg-5 {
      width: 41.66667%; } }

.tuiv2_flex-offset--lg-5 {
  margin-left: auto; }
  @media (min-width: 1200px) {
    .tuiv2_flex-offset--lg-5 {
      margin-left: 41.66667%; } }

.tuiv2_flex-col--lg-6 {
  width: 100%; }
  @media (min-width: 1200px) {
    .tuiv2_flex-col--lg-6 {
      width: 50%; } }

.tuiv2_flex-offset--lg-6 {
  margin-left: auto; }
  @media (min-width: 1200px) {
    .tuiv2_flex-offset--lg-6 {
      margin-left: 50%; } }

.tuiv2_flex-col--lg-7 {
  width: 100%; }
  @media (min-width: 1200px) {
    .tuiv2_flex-col--lg-7 {
      width: 58.33333%; } }

.tuiv2_flex-offset--lg-7 {
  margin-left: auto; }
  @media (min-width: 1200px) {
    .tuiv2_flex-offset--lg-7 {
      margin-left: 58.33333%; } }

.tuiv2_flex-col--lg-8 {
  width: 100%; }
  @media (min-width: 1200px) {
    .tuiv2_flex-col--lg-8 {
      width: 66.66667%; } }

.tuiv2_flex-offset--lg-8 {
  margin-left: auto; }
  @media (min-width: 1200px) {
    .tuiv2_flex-offset--lg-8 {
      margin-left: 66.66667%; } }

.tuiv2_flex-col--lg-9 {
  width: 100%; }
  @media (min-width: 1200px) {
    .tuiv2_flex-col--lg-9 {
      width: 75%; } }

.tuiv2_flex-offset--lg-9 {
  margin-left: auto; }
  @media (min-width: 1200px) {
    .tuiv2_flex-offset--lg-9 {
      margin-left: 75%; } }

.tuiv2_flex-col--lg-10 {
  width: 100%; }
  @media (min-width: 1200px) {
    .tuiv2_flex-col--lg-10 {
      width: 83.33333%; } }

.tuiv2_flex-offset--lg-10 {
  margin-left: auto; }
  @media (min-width: 1200px) {
    .tuiv2_flex-offset--lg-10 {
      margin-left: 83.33333%; } }

.tuiv2_flex-col--lg-11 {
  width: 100%; }
  @media (min-width: 1200px) {
    .tuiv2_flex-col--lg-11 {
      width: 91.66667%; } }

.tuiv2_flex-offset--lg-11 {
  margin-left: auto; }
  @media (min-width: 1200px) {
    .tuiv2_flex-offset--lg-11 {
      margin-left: 91.66667%; } }

.tuiv2_flex-col--lg-12 {
  width: 100%; }
  @media (min-width: 1200px) {
    .tuiv2_flex-col--lg-12 {
      width: 100%; } }

.tuiv2_flex-offset--lg-12 {
  margin-left: auto; }
  @media (min-width: 1200px) {
    .tuiv2_flex-offset--lg-12 {
      margin-left: 100%; } }

.tuiv2_flex-col--md-1 {
  width: 100%; }
  @media (min-width: 992px) {
    .tuiv2_flex-col--md-1 {
      width: 8.33333%; } }

.tuiv2_flex-offset--md-1 {
  margin-left: auto; }
  @media (min-width: 992px) {
    .tuiv2_flex-offset--md-1 {
      margin-left: 8.33333%; } }

.tuiv2_flex-col--md-2 {
  width: 100%; }
  @media (min-width: 992px) {
    .tuiv2_flex-col--md-2 {
      width: 16.66667%; } }

.tuiv2_flex-offset--md-2 {
  margin-left: auto; }
  @media (min-width: 992px) {
    .tuiv2_flex-offset--md-2 {
      margin-left: 16.66667%; } }

.tuiv2_flex-col--md-3 {
  width: 100%; }
  @media (min-width: 992px) {
    .tuiv2_flex-col--md-3 {
      width: 25%; } }

.tuiv2_flex-offset--md-3 {
  margin-left: auto; }
  @media (min-width: 992px) {
    .tuiv2_flex-offset--md-3 {
      margin-left: 25%; } }

.tuiv2_flex-col--md-4 {
  width: 100%; }
  @media (min-width: 992px) {
    .tuiv2_flex-col--md-4 {
      width: 33.33333%; } }

.tuiv2_flex-offset--md-4 {
  margin-left: auto; }
  @media (min-width: 992px) {
    .tuiv2_flex-offset--md-4 {
      margin-left: 33.33333%; } }

.tuiv2_flex-col--md-5 {
  width: 100%; }
  @media (min-width: 992px) {
    .tuiv2_flex-col--md-5 {
      width: 41.66667%; } }

.tuiv2_flex-offset--md-5 {
  margin-left: auto; }
  @media (min-width: 992px) {
    .tuiv2_flex-offset--md-5 {
      margin-left: 41.66667%; } }

.tuiv2_flex-col--md-6 {
  width: 100%; }
  @media (min-width: 992px) {
    .tuiv2_flex-col--md-6 {
      width: 50%; } }

.tuiv2_flex-offset--md-6 {
  margin-left: auto; }
  @media (min-width: 992px) {
    .tuiv2_flex-offset--md-6 {
      margin-left: 50%; } }

.tuiv2_flex-col--md-7 {
  width: 100%; }
  @media (min-width: 992px) {
    .tuiv2_flex-col--md-7 {
      width: 58.33333%; } }

.tuiv2_flex-offset--md-7 {
  margin-left: auto; }
  @media (min-width: 992px) {
    .tuiv2_flex-offset--md-7 {
      margin-left: 58.33333%; } }

.tuiv2_flex-col--md-8 {
  width: 100%; }
  @media (min-width: 992px) {
    .tuiv2_flex-col--md-8 {
      width: 66.66667%; } }

.tuiv2_flex-offset--md-8 {
  margin-left: auto; }
  @media (min-width: 992px) {
    .tuiv2_flex-offset--md-8 {
      margin-left: 66.66667%; } }

.tuiv2_flex-col--md-9 {
  width: 100%; }
  @media (min-width: 992px) {
    .tuiv2_flex-col--md-9 {
      width: 75%; } }

.tuiv2_flex-offset--md-9 {
  margin-left: auto; }
  @media (min-width: 992px) {
    .tuiv2_flex-offset--md-9 {
      margin-left: 75%; } }

.tuiv2_flex-col--md-10 {
  width: 100%; }
  @media (min-width: 992px) {
    .tuiv2_flex-col--md-10 {
      width: 83.33333%; } }

.tuiv2_flex-offset--md-10 {
  margin-left: auto; }
  @media (min-width: 992px) {
    .tuiv2_flex-offset--md-10 {
      margin-left: 83.33333%; } }

.tuiv2_flex-col--md-11 {
  width: 100%; }
  @media (min-width: 992px) {
    .tuiv2_flex-col--md-11 {
      width: 91.66667%; } }

.tuiv2_flex-offset--md-11 {
  margin-left: auto; }
  @media (min-width: 992px) {
    .tuiv2_flex-offset--md-11 {
      margin-left: 91.66667%; } }

.tuiv2_flex-col--md-12 {
  width: 100%; }
  @media (min-width: 992px) {
    .tuiv2_flex-col--md-12 {
      width: 100%; } }

.tuiv2_flex-offset--md-12 {
  margin-left: auto; }
  @media (min-width: 992px) {
    .tuiv2_flex-offset--md-12 {
      margin-left: 100%; } }

.tuiv2_flex-col--sm-1 {
  width: 100%; }
  @media (min-width: 768px) {
    .tuiv2_flex-col--sm-1 {
      width: 8.33333%; } }

.tuiv2_flex-offset--sm-1 {
  margin-left: auto; }
  @media (min-width: 768px) {
    .tuiv2_flex-offset--sm-1 {
      margin-left: 8.33333%; } }

.tuiv2_flex-col--sm-2 {
  width: 100%; }
  @media (min-width: 768px) {
    .tuiv2_flex-col--sm-2 {
      width: 16.66667%; } }

.tuiv2_flex-offset--sm-2 {
  margin-left: auto; }
  @media (min-width: 768px) {
    .tuiv2_flex-offset--sm-2 {
      margin-left: 16.66667%; } }

.tuiv2_flex-col--sm-3 {
  width: 100%; }
  @media (min-width: 768px) {
    .tuiv2_flex-col--sm-3 {
      width: 25%; } }

.tuiv2_flex-offset--sm-3 {
  margin-left: auto; }
  @media (min-width: 768px) {
    .tuiv2_flex-offset--sm-3 {
      margin-left: 25%; } }

.tuiv2_flex-col--sm-4 {
  width: 100%; }
  @media (min-width: 768px) {
    .tuiv2_flex-col--sm-4 {
      width: 33.33333%; } }

.tuiv2_flex-offset--sm-4 {
  margin-left: auto; }
  @media (min-width: 768px) {
    .tuiv2_flex-offset--sm-4 {
      margin-left: 33.33333%; } }

.tuiv2_flex-col--sm-5 {
  width: 100%; }
  @media (min-width: 768px) {
    .tuiv2_flex-col--sm-5 {
      width: 41.66667%; } }

.tuiv2_flex-offset--sm-5 {
  margin-left: auto; }
  @media (min-width: 768px) {
    .tuiv2_flex-offset--sm-5 {
      margin-left: 41.66667%; } }

.tuiv2_flex-col--sm-6 {
  width: 100%; }
  @media (min-width: 768px) {
    .tuiv2_flex-col--sm-6 {
      width: 50%; } }

.tuiv2_flex-offset--sm-6 {
  margin-left: auto; }
  @media (min-width: 768px) {
    .tuiv2_flex-offset--sm-6 {
      margin-left: 50%; } }

.tuiv2_flex-col--sm-7 {
  width: 100%; }
  @media (min-width: 768px) {
    .tuiv2_flex-col--sm-7 {
      width: 58.33333%; } }

.tuiv2_flex-offset--sm-7 {
  margin-left: auto; }
  @media (min-width: 768px) {
    .tuiv2_flex-offset--sm-7 {
      margin-left: 58.33333%; } }

.tuiv2_flex-col--sm-8 {
  width: 100%; }
  @media (min-width: 768px) {
    .tuiv2_flex-col--sm-8 {
      width: 66.66667%; } }

.tuiv2_flex-offset--sm-8 {
  margin-left: auto; }
  @media (min-width: 768px) {
    .tuiv2_flex-offset--sm-8 {
      margin-left: 66.66667%; } }

.tuiv2_flex-col--sm-9 {
  width: 100%; }
  @media (min-width: 768px) {
    .tuiv2_flex-col--sm-9 {
      width: 75%; } }

.tuiv2_flex-offset--sm-9 {
  margin-left: auto; }
  @media (min-width: 768px) {
    .tuiv2_flex-offset--sm-9 {
      margin-left: 75%; } }

.tuiv2_flex-col--sm-10 {
  width: 100%; }
  @media (min-width: 768px) {
    .tuiv2_flex-col--sm-10 {
      width: 83.33333%; } }

.tuiv2_flex-offset--sm-10 {
  margin-left: auto; }
  @media (min-width: 768px) {
    .tuiv2_flex-offset--sm-10 {
      margin-left: 83.33333%; } }

.tuiv2_flex-col--sm-11 {
  width: 100%; }
  @media (min-width: 768px) {
    .tuiv2_flex-col--sm-11 {
      width: 91.66667%; } }

.tuiv2_flex-offset--sm-11 {
  margin-left: auto; }
  @media (min-width: 768px) {
    .tuiv2_flex-offset--sm-11 {
      margin-left: 91.66667%; } }

.tuiv2_flex-col--sm-12 {
  width: 100%; }
  @media (min-width: 768px) {
    .tuiv2_flex-col--sm-12 {
      width: 100%; } }

.tuiv2_flex-offset--sm-12 {
  margin-left: auto; }
  @media (min-width: 768px) {
    .tuiv2_flex-offset--sm-12 {
      margin-left: 100%; } }

@font-face {
  font-family: 'Linearicons-Free';
  src: url("../font/linearicons/Linearicons-Free.eot?w118d");
  src: url("../font/linearicons/Linearicons-Free.eot?#iefixw118d") format("embedded-opentype"), url("../font/linearicons/Linearicons-Free.woff2?w118d") format("woff2"), url("../font/linearicons/Linearicons-Free.woff?w118d") format("woff"), url("../font/linearicons/Linearicons-Free.ttf?w118d") format("truetype"), url("../font/linearicons/Linearicons-Free.svg?w118d#Linearicons-Free") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="lnr-"], [class*=" lnr-"] {
  font-family: 'Linearicons-Free';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.lnr-home:before {
  content: "\e800"; }

.lnr-apartment:before {
  content: "\e801"; }

.lnr-pencil:before {
  content: "\e802"; }

.lnr-magic-wand:before {
  content: "\e803"; }

.lnr-drop:before {
  content: "\e804"; }

.lnr-lighter:before {
  content: "\e805"; }

.lnr-poop:before {
  content: "\e806"; }

.lnr-sun:before {
  content: "\e807"; }

.lnr-moon:before {
  content: "\e808"; }

.lnr-cloud:before {
  content: "\e809"; }

.lnr-cloud-upload:before {
  content: "\e80a"; }

.lnr-cloud-download:before {
  content: "\e80b"; }

.lnr-cloud-sync:before {
  content: "\e80c"; }

.lnr-cloud-check:before {
  content: "\e80d"; }

.lnr-database:before {
  content: "\e80e"; }

.lnr-lock:before {
  content: "\e80f"; }

.lnr-cog:before {
  content: "\e810"; }

.lnr-trash:before {
  content: "\e811"; }

.lnr-dice:before {
  content: "\e812"; }

.lnr-heart:before {
  content: "\e813"; }

.lnr-star:before {
  content: "\e814"; }

.lnr-star-half:before {
  content: "\e815"; }

.lnr-star-empty:before {
  content: "\e816"; }

.lnr-flag:before {
  content: "\e817"; }

.lnr-envelope:before {
  content: "\e818"; }

.lnr-paperclip:before {
  content: "\e819"; }

.lnr-inbox:before {
  content: "\e81a"; }

.lnr-eye:before {
  content: "\e81b"; }

.lnr-printer:before {
  content: "\e81c"; }

.lnr-file-empty:before {
  content: "\e81d"; }

.lnr-file-add:before {
  content: "\e81e"; }

.lnr-enter:before {
  content: "\e81f"; }

.lnr-exit:before {
  content: "\e820"; }

.lnr-graduation-hat:before {
  content: "\e821"; }

.lnr-license:before {
  content: "\e822"; }

.lnr-music-note:before {
  content: "\e823"; }

.lnr-film-play:before {
  content: "\e824"; }

.lnr-camera-video:before {
  content: "\e825"; }

.lnr-camera:before {
  content: "\e826"; }

.lnr-picture:before {
  content: "\e827"; }

.lnr-book:before {
  content: "\e828"; }

.lnr-bookmark:before {
  content: "\e829"; }

.lnr-user:before {
  content: "\e82a"; }

.lnr-users:before {
  content: "\e82b"; }

.lnr-shirt:before {
  content: "\e82c"; }

.lnr-store:before {
  content: "\e82d"; }

.lnr-cart:before {
  content: "\e82e"; }

.lnr-tag:before {
  content: "\e82f"; }

.lnr-phone-handset:before {
  content: "\e830"; }

.lnr-phone:before {
  content: "\e831"; }

.lnr-pushpin:before {
  content: "\e832"; }

.lnr-map-marker:before {
  content: "\e833"; }

.lnr-map:before {
  content: "\e834"; }

.lnr-location:before {
  content: "\e835"; }

.lnr-calendar-full:before {
  content: "\e836"; }

.lnr-keyboard:before {
  content: "\e837"; }

.lnr-spell-check:before {
  content: "\e838"; }

.lnr-screen:before {
  content: "\e839"; }

.lnr-smartphone:before {
  content: "\e83a"; }

.lnr-tablet:before {
  content: "\e83b"; }

.lnr-laptop:before {
  content: "\e83c"; }

.lnr-laptop-phone:before {
  content: "\e83d"; }

.lnr-power-switch:before {
  content: "\e83e"; }

.lnr-bubble:before {
  content: "\e83f"; }

.lnr-heart-pulse:before {
  content: "\e840"; }

.lnr-construction:before {
  content: "\e841"; }

.lnr-pie-chart:before {
  content: "\e842"; }

.lnr-chart-bars:before {
  content: "\e843"; }

.lnr-gift:before {
  content: "\e844"; }

.lnr-diamond:before {
  content: "\e845"; }

.lnr-linearicons:before {
  content: "\e846"; }

.lnr-dinner:before {
  content: "\e847"; }

.lnr-coffee-cup:before {
  content: "\e848"; }

.lnr-leaf:before {
  content: "\e849"; }

.lnr-paw:before {
  content: "\e84a"; }

.lnr-rocket:before {
  content: "\e84b"; }

.lnr-briefcase:before {
  content: "\e84c"; }

.lnr-bus:before {
  content: "\e84d"; }

.lnr-car:before {
  content: "\e84e"; }

.lnr-train:before {
  content: "\e84f"; }

.lnr-bicycle:before {
  content: "\e850"; }

.lnr-wheelchair:before {
  content: "\e851"; }

.lnr-select:before {
  content: "\e852"; }

.lnr-earth:before {
  content: "\e853"; }

.lnr-smile:before {
  content: "\e854"; }

.lnr-sad:before {
  content: "\e855"; }

.lnr-neutral:before {
  content: "\e856"; }

.lnr-mustache:before {
  content: "\e857"; }

.lnr-alarm:before {
  content: "\e858"; }

.lnr-bullhorn:before {
  content: "\e859"; }

.lnr-volume-high:before {
  content: "\e85a"; }

.lnr-volume-medium:before {
  content: "\e85b"; }

.lnr-volume-low:before {
  content: "\e85c"; }

.lnr-volume:before {
  content: "\e85d"; }

.lnr-mic:before {
  content: "\e85e"; }

.lnr-hourglass:before {
  content: "\e85f"; }

.lnr-undo:before {
  content: "\e860"; }

.lnr-redo:before {
  content: "\e861"; }

.lnr-sync:before {
  content: "\e862"; }

.lnr-history:before {
  content: "\e863"; }

.lnr-clock:before {
  content: "\e864"; }

.lnr-download:before {
  content: "\e865"; }

.lnr-upload:before {
  content: "\e866"; }

.lnr-enter-down:before {
  content: "\e867"; }

.lnr-exit-up:before {
  content: "\e868"; }

.lnr-bug:before {
  content: "\e869"; }

.lnr-code:before {
  content: "\e86a"; }

.lnr-link:before {
  content: "\e86b"; }

.lnr-unlink:before {
  content: "\e86c"; }

.lnr-thumbs-up:before {
  content: "\e86d"; }

.lnr-thumbs-down:before {
  content: "\e86e"; }

.lnr-magnifier:before {
  content: "\e86f"; }

.lnr-cross:before {
  content: "\e870"; }

.lnr-menu:before {
  content: "\e871"; }

.lnr-list:before {
  content: "\e872"; }

.lnr-chevron-up:before {
  content: "\e873"; }

.lnr-chevron-down:before {
  content: "\e874"; }

.lnr-chevron-left:before {
  content: "\e875"; }

.lnr-chevron-right:before {
  content: "\e876"; }

.lnr-arrow-up:before {
  content: "\e877"; }

.lnr-arrow-down:before {
  content: "\e878"; }

.lnr-arrow-left:before {
  content: "\e879"; }

.lnr-arrow-right:before {
  content: "\e87a"; }

.lnr-move:before {
  content: "\e87b"; }

.lnr-warning:before {
  content: "\e87c"; }

.lnr-question-circle:before {
  content: "\e87d"; }

.lnr-menu-circle:before {
  content: "\e87e"; }

.lnr-checkmark-circle:before {
  content: "\e87f"; }

.lnr-cross-circle:before {
  content: "\e880"; }

.lnr-plus-circle:before {
  content: "\e881"; }

.lnr-circle-minus:before {
  content: "\e882"; }

.lnr-arrow-up-circle:before {
  content: "\e883"; }

.lnr-arrow-down-circle:before {
  content: "\e884"; }

.lnr-arrow-left-circle:before {
  content: "\e885"; }

.lnr-arrow-right-circle:before {
  content: "\e886"; }

.lnr-chevron-up-circle:before {
  content: "\e887"; }

.lnr-chevron-down-circle:before {
  content: "\e888"; }

.lnr-chevron-left-circle:before {
  content: "\e889"; }

.lnr-chevron-right-circle:before {
  content: "\e88a"; }

.lnr-crop:before {
  content: "\e88b"; }

.lnr-frame-expand:before {
  content: "\e88c"; }

.lnr-frame-contract:before {
  content: "\e88d"; }

.lnr-layers:before {
  content: "\e88e"; }

.lnr-funnel:before {
  content: "\e88f"; }

.lnr-text-format:before {
  content: "\e890"; }

.lnr-text-format-remove:before {
  content: "\e891"; }

.lnr-text-size:before {
  content: "\e892"; }

.lnr-bold:before {
  content: "\e893"; }

.lnr-italic:before {
  content: "\e894"; }

.lnr-underline:before {
  content: "\e895"; }

.lnr-strikethrough:before {
  content: "\e896"; }

.lnr-highlight:before {
  content: "\e897"; }

.lnr-text-align-left:before {
  content: "\e898"; }

.lnr-text-align-center:before {
  content: "\e899"; }

.lnr-text-align-right:before {
  content: "\e89a"; }

.lnr-text-align-justify:before {
  content: "\e89b"; }

.lnr-line-spacing:before {
  content: "\e89c"; }

.lnr-indent-increase:before {
  content: "\e89d"; }

.lnr-indent-decrease:before {
  content: "\e89e"; }

.lnr-pilcrow:before {
  content: "\e89f"; }

.lnr-direction-ltr:before {
  content: "\e8a0"; }

.lnr-direction-rtl:before {
  content: "\e8a1"; }

.lnr-page-break:before {
  content: "\e8a2"; }

.lnr-sort-alpha-asc:before {
  content: "\e8a3"; }

.lnr-sort-amount-asc:before {
  content: "\e8a4"; }

.lnr-hand:before {
  content: "\e8a5"; }

.lnr-pointer-up:before {
  content: "\e8a6"; }

.lnr-pointer-right:before {
  content: "\e8a7"; }

.lnr-pointer-down:before {
  content: "\e8a8"; }

.lnr-pointer-left:before {
  content: "\e8a9"; }

/* STRUCTURES */
.tuiv2_title {
  font-size: 24px; }

.tuiv2_subtitle {
  font-size: 16px; }

.tuiv2_text--center {
  text-align: center; }

.tuiv2_text--right {
  text-align: right; }

.tuiv2_action-icon {
  font-size: 20px;
  padding-right: 10px; }

/* SKINS */
.tuiv2_text--well {
  background-color: #E6E6E6;
  padding: 10px; }

/* -- Colors -- */
.tuiv2_text--white {
  color: #FFFFFF; }

.tuiv2_text--black {
  color: #323A45; }

.tuiv2_text--lightblack {
  color: #696969; }

.tuiv2_text--grey {
  color: #979797; }

.tuiv2_text--darkgrey {
  color: #7F7F7F; }

.tuiv2_text--lightgrey {
  color: #E6E6E6; }

.tuiv2_text--primary {
  color: #14B9D6; }

.tuiv2_text--warning {
  color: #F27935; }

/* STRUCTURES */
.tuiv2_one-one-img {
  position: relative;
  overflow: hidden;
  width: 100%; }
  .tuiv2_one-one-img::before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 100%; }
  .tuiv2_one-one-img > img {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto; }

.tuiv2_sixtee-nein-img {
  position: relative;
  overflow: hidden;
  width: 100%; }
  .tuiv2_sixtee-nein-img::before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 100%; }
  .tuiv2_sixtee-nein-img > img {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto; }

.tuiv2_img-full-width {
  width: 100%; }

/* SKINS */
/* STRUCTURES */
.tuiv2_media-header {
  display: flex; }

.tuiv2_media-header__text {
  padding: 10px;
  flex-basis: 170%; }

.tuiv2_media-header__img {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 10px; }
  .tuiv2_media-header__img::before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 100%; }
  .tuiv2_media-header__img > img {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto; }

/* SKINS */
/* STRUCTURES */
.tuiv2_list {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style-type: none; }

.tuiv2_list-item {
  height: 56px;
  padding: 10px;
  display: flex;
  align-items: center; }

.tuiv2_list-item__graphic {
  height: 46px;
  width: 46px; }

.tuiv2_list-item__text {
  margin: 0 10px;
  flex-grow: 3;
  max-height: 20px;
  overflow: hidden; }

.tuiv2_list-item__text:first-child {
  margin: 0 10px 0 0;
  flex-grow: 3; }

.tuiv2_list-item__text--multiline {
  display: flex;
  flex-direction: column;
  max-height: 40px;
  overflow: hidden; }

/* SKINS */
.tuiv2_list--stripped .tuiv2_list-item:nth-child(odd) {
  background-color: #E6E6E6; }

.tuiv2_list--hover .tuiv2_list-item:hover {
  transition: all 0.2s, ease;
  background-color: #E6E6E6; }

.tuiv2_list--clickable .tuiv2_list-item {
  cursor: pointer; }
.tuiv2_list--clickable .tuiv2_list-item:hover {
  transition: all 0.2s, ease;
  background-color: #E6E6E6; }

.tuiv2_list-item--divider {
  border-bottom: 1px solid #E6E6E6; }

.tuiv2_list-item__info {
  color: #979797; }

/* STRUCTURE */
/* SKINS */
.form-control {
  border: none;
  border-bottom: 1px solid #E6E6E6;
  box-shadow: none;
  border-radius: 0;
  padding-left: 0; }
  .form-control:focus {
    border-color: #14B9D6;
    outline: none;
    box-shadow: none; }

.form-inline .form-control {
  padding-left: 5px; }

.input-group-addon:first-child {
  border: none;
  border-bottom: 1px solid #E6E6E6; }
  .input-group-addon:first-child:focus {
    border-color: #14B9D6;
    outline: none;
    box-shadow: none; }

.input-group-addon:last-child {
  border: none;
  border-bottom: 1px solid #E6E6E6; }
  .input-group-addon:last-child:focus {
    border-color: #14B9D6;
    outline: none;
    box-shadow: none; }

/* stylelint-disable-next-line */
select.form-control {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border: none; }

.select-wrapper {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #E6E6E6;
  padding-right: 5px;
  flex-wrap: nowrap;
  overflow: hidden; }

.has-success .control-label,
.has-success .help-block,
.has-success .radio,
.has-success .radio-inline {
  color: #1FBBA6; }
.has-success .checkbox label,
.has-success .checkbox-inline label,
.has-success .radio label,
.has-success .radio-inline label {
  color: #1FBBA6; }
.has-success .form-control {
  box-shadow: none; }
  .has-success .form-control:focus {
    box-shadow: none; }

.has-warning .control-label,
.has-warning .help-block,
.has-warning .radio,
.has-warning .radio-inline {
  color: #F27935; }
.has-warning .checkbox label,
.has-warning .checkbox-inline label,
.has-warning .radio label,
.has-warning .radio-inline label {
  color: #F27935; }
.has-warning .form-control {
  box-shadow: none; }
  .has-warning .form-control:focus {
    box-shadow: none; }

.has-error .control-label,
.has-error .help-block,
.has-error .radio,
.has-error .radio-inline {
  color: #ED4530; }
.has-error .checkbox label,
.has-error .checkbox-inline label,
.has-error .radio label,
.has-error .radio-inline label {
  color: #ED4530; }
.has-error .form-control {
  box-shadow: none; }
  .has-error .form-control:focus {
    box-shadow: none; }

.select2-container--default .select2-selection--single {
  border: none;
  border-bottom: 1px solid #E6E6E6;
  border-radius: 0; }

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: none;
  border-bottom: 1px solid #E6E6E6; }
  .select2-container--default .select2-search--dropdown .select2-search__field:focus {
    border-color: #14B9D6;
    outline: none;
    box-shadow: none; }

/* stylelint-disable-next-line */
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #14B9D6; }

.select2-container--default .select2-selection--multiple {
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #E6E6E6; }

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: none;
  border-bottom: 1px solid #14B9D6; }

/* STRUCTURE */
.tuiv2_btn {
  background: none;
  border: none;
  padding: 5px;
  border-radius: 2px; }

.tuiv2_btn:focus {
  outline: none; }

.tuiv2_btn-group {
  display: flex; }
  .tuiv2_btn-group .tuiv2_btn {
    border-radius: 0; }
  .tuiv2_btn-group .tuiv2_btn:last-child {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px; }
  .tuiv2_btn-group .tuiv2_btn:first-child {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px; }

/* SKINS */
.tuiv2_btn:hover {
  text-decoration: none; }

.tuiv2_btn--default:active {
  background-color: #E6E6E6; }

.tuiv2_btn--default:hover {
  color: #14B9D6; }

.tuiv2_btn--primary:active {
  background-color: #31d0ec; }

.tuiv2_btn--primary:hover {
  color: #FFFFFF; }

.tuiv2_btn--warning:active {
  background-color: #f59965; }

.tuiv2_btn--warning:hover {
  color: #FFFFFF; }

.tuiv2_btn--raised {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25); }

.tuiv2_btn--lg {
  font-size: 18px;
  padding: 10px; }

.tuiv2_btn--sm {
  font-size: 10px;
  padding: 3px; }

.tuiv2_btn--default {
  color: #14B9D6; }

.tuiv2_btn--primary {
  background-color: #14B9D6;
  color: #FFFFFF; }

.tuiv2_btn--warning {
  background-color: #F27935;
  color: #FFFFFF; }

/* STRUCTURES */
.tuiv2_card {
  margin: 0 10px 10px 10px;
  border-radius: 2px; }

.tuiv2_card__block {
  padding: 10px; }

.tuiv2_card__actions {
  display: flex;
  flex-direction: row-reverse;
  padding: 10px; }

.tuiv2_card__actions--secondary {
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.tuiv2_card__rich-media {
  position: relative;
  overflow: hidden; }
  .tuiv2_card__rich-media::before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 56.25%; }
  .tuiv2_card__rich-media > img {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto; }

/* SKINS */
.tuiv2_card--default-skin {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background-color: #FFFFFF;
  color: #696969; }

.tuiv2_card__title--default-skin {
  color: #7F7F7F; }

.list {
  display: flex;
  flex-direction: column;
  color: #323A45; }

.list__item {
  border-top: 1px solid #E6E6E6; }

.list__clickable {
  cursor: pointer;
  transition: all;
  transition-duration: 0.15s; }
  .list__clickable:hover {
    background-color: #E6E6E6; }

.list__item-title {
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }

.list__item-content {
  padding: 15px; }

.list__item-title--with-price {
  display: flex;
  justify-content: space-between; }

.list__item-price {
  color: #14B9D6; }

.list__item-tags {
  padding: 10px;
  color: #979797;
  background-color: #E6E6E6; }

.list__item-text {
  color: #696969; }

@font-face {
  font-family: 'Linearicons-Free';
  src: url("../font/linearicons/Linearicons-Free.eot?w118d");
  src: url("../font/linearicons/Linearicons-Free.eot?#iefixw118d") format("embedded-opentype"), url("../font/linearicons/Linearicons-Free.woff2?w118d") format("woff2"), url("../font/linearicons/Linearicons-Free.woff?w118d") format("woff"), url("../font/linearicons/Linearicons-Free.ttf?w118d") format("truetype"), url("../font/linearicons/Linearicons-Free.svg?w118d#Linearicons-Free") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="lnr-"], [class*=" lnr-"] {
  font-family: 'Linearicons-Free';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.lnr-home:before {
  content: "\e800"; }

.lnr-apartment:before {
  content: "\e801"; }

.lnr-pencil:before {
  content: "\e802"; }

.lnr-magic-wand:before {
  content: "\e803"; }

.lnr-drop:before {
  content: "\e804"; }

.lnr-lighter:before {
  content: "\e805"; }

.lnr-poop:before {
  content: "\e806"; }

.lnr-sun:before {
  content: "\e807"; }

.lnr-moon:before {
  content: "\e808"; }

.lnr-cloud:before {
  content: "\e809"; }

.lnr-cloud-upload:before {
  content: "\e80a"; }

.lnr-cloud-download:before {
  content: "\e80b"; }

.lnr-cloud-sync:before {
  content: "\e80c"; }

.lnr-cloud-check:before {
  content: "\e80d"; }

.lnr-database:before {
  content: "\e80e"; }

.lnr-lock:before {
  content: "\e80f"; }

.lnr-cog:before {
  content: "\e810"; }

.lnr-trash:before {
  content: "\e811"; }

.lnr-dice:before {
  content: "\e812"; }

.lnr-heart:before {
  content: "\e813"; }

.lnr-star:before {
  content: "\e814"; }

.lnr-star-half:before {
  content: "\e815"; }

.lnr-star-empty:before {
  content: "\e816"; }

.lnr-flag:before {
  content: "\e817"; }

.lnr-envelope:before {
  content: "\e818"; }

.lnr-paperclip:before {
  content: "\e819"; }

.lnr-inbox:before {
  content: "\e81a"; }

.lnr-eye:before {
  content: "\e81b"; }

.lnr-printer:before {
  content: "\e81c"; }

.lnr-file-empty:before {
  content: "\e81d"; }

.lnr-file-add:before {
  content: "\e81e"; }

.lnr-enter:before {
  content: "\e81f"; }

.lnr-exit:before {
  content: "\e820"; }

.lnr-graduation-hat:before {
  content: "\e821"; }

.lnr-license:before {
  content: "\e822"; }

.lnr-music-note:before {
  content: "\e823"; }

.lnr-film-play:before {
  content: "\e824"; }

.lnr-camera-video:before {
  content: "\e825"; }

.lnr-camera:before {
  content: "\e826"; }

.lnr-picture:before {
  content: "\e827"; }

.lnr-book:before {
  content: "\e828"; }

.lnr-bookmark:before {
  content: "\e829"; }

.lnr-user:before {
  content: "\e82a"; }

.lnr-users:before {
  content: "\e82b"; }

.lnr-shirt:before {
  content: "\e82c"; }

.lnr-store:before {
  content: "\e82d"; }

.lnr-cart:before {
  content: "\e82e"; }

.lnr-tag:before {
  content: "\e82f"; }

.lnr-phone-handset:before {
  content: "\e830"; }

.lnr-phone:before {
  content: "\e831"; }

.lnr-pushpin:before {
  content: "\e832"; }

.lnr-map-marker:before {
  content: "\e833"; }

.lnr-map:before {
  content: "\e834"; }

.lnr-location:before {
  content: "\e835"; }

.lnr-calendar-full:before {
  content: "\e836"; }

.lnr-keyboard:before {
  content: "\e837"; }

.lnr-spell-check:before {
  content: "\e838"; }

.lnr-screen:before {
  content: "\e839"; }

.lnr-smartphone:before {
  content: "\e83a"; }

.lnr-tablet:before {
  content: "\e83b"; }

.lnr-laptop:before {
  content: "\e83c"; }

.lnr-laptop-phone:before {
  content: "\e83d"; }

.lnr-power-switch:before {
  content: "\e83e"; }

.lnr-bubble:before {
  content: "\e83f"; }

.lnr-heart-pulse:before {
  content: "\e840"; }

.lnr-construction:before {
  content: "\e841"; }

.lnr-pie-chart:before {
  content: "\e842"; }

.lnr-chart-bars:before {
  content: "\e843"; }

.lnr-gift:before {
  content: "\e844"; }

.lnr-diamond:before {
  content: "\e845"; }

.lnr-linearicons:before {
  content: "\e846"; }

.lnr-dinner:before {
  content: "\e847"; }

.lnr-coffee-cup:before {
  content: "\e848"; }

.lnr-leaf:before {
  content: "\e849"; }

.lnr-paw:before {
  content: "\e84a"; }

.lnr-rocket:before {
  content: "\e84b"; }

.lnr-briefcase:before {
  content: "\e84c"; }

.lnr-bus:before {
  content: "\e84d"; }

.lnr-car:before {
  content: "\e84e"; }

.lnr-train:before {
  content: "\e84f"; }

.lnr-bicycle:before {
  content: "\e850"; }

.lnr-wheelchair:before {
  content: "\e851"; }

.lnr-select:before {
  content: "\e852"; }

.lnr-earth:before {
  content: "\e853"; }

.lnr-smile:before {
  content: "\e854"; }

.lnr-sad:before {
  content: "\e855"; }

.lnr-neutral:before {
  content: "\e856"; }

.lnr-mustache:before {
  content: "\e857"; }

.lnr-alarm:before {
  content: "\e858"; }

.lnr-bullhorn:before {
  content: "\e859"; }

.lnr-volume-high:before {
  content: "\e85a"; }

.lnr-volume-medium:before {
  content: "\e85b"; }

.lnr-volume-low:before {
  content: "\e85c"; }

.lnr-volume:before {
  content: "\e85d"; }

.lnr-mic:before {
  content: "\e85e"; }

.lnr-hourglass:before {
  content: "\e85f"; }

.lnr-undo:before {
  content: "\e860"; }

.lnr-redo:before {
  content: "\e861"; }

.lnr-sync:before {
  content: "\e862"; }

.lnr-history:before {
  content: "\e863"; }

.lnr-clock:before {
  content: "\e864"; }

.lnr-download:before {
  content: "\e865"; }

.lnr-upload:before {
  content: "\e866"; }

.lnr-enter-down:before {
  content: "\e867"; }

.lnr-exit-up:before {
  content: "\e868"; }

.lnr-bug:before {
  content: "\e869"; }

.lnr-code:before {
  content: "\e86a"; }

.lnr-link:before {
  content: "\e86b"; }

.lnr-unlink:before {
  content: "\e86c"; }

.lnr-thumbs-up:before {
  content: "\e86d"; }

.lnr-thumbs-down:before {
  content: "\e86e"; }

.lnr-magnifier:before {
  content: "\e86f"; }

.lnr-cross:before {
  content: "\e870"; }

.lnr-menu:before {
  content: "\e871"; }

.lnr-list:before {
  content: "\e872"; }

.lnr-chevron-up:before {
  content: "\e873"; }

.lnr-chevron-down:before {
  content: "\e874"; }

.lnr-chevron-left:before {
  content: "\e875"; }

.lnr-chevron-right:before {
  content: "\e876"; }

.lnr-arrow-up:before {
  content: "\e877"; }

.lnr-arrow-down:before {
  content: "\e878"; }

.lnr-arrow-left:before {
  content: "\e879"; }

.lnr-arrow-right:before {
  content: "\e87a"; }

.lnr-move:before {
  content: "\e87b"; }

.lnr-warning:before {
  content: "\e87c"; }

.lnr-question-circle:before {
  content: "\e87d"; }

.lnr-menu-circle:before {
  content: "\e87e"; }

.lnr-checkmark-circle:before {
  content: "\e87f"; }

.lnr-cross-circle:before {
  content: "\e880"; }

.lnr-plus-circle:before {
  content: "\e881"; }

.lnr-circle-minus:before {
  content: "\e882"; }

.lnr-arrow-up-circle:before {
  content: "\e883"; }

.lnr-arrow-down-circle:before {
  content: "\e884"; }

.lnr-arrow-left-circle:before {
  content: "\e885"; }

.lnr-arrow-right-circle:before {
  content: "\e886"; }

.lnr-chevron-up-circle:before {
  content: "\e887"; }

.lnr-chevron-down-circle:before {
  content: "\e888"; }

.lnr-chevron-left-circle:before {
  content: "\e889"; }

.lnr-chevron-right-circle:before {
  content: "\e88a"; }

.lnr-crop:before {
  content: "\e88b"; }

.lnr-frame-expand:before {
  content: "\e88c"; }

.lnr-frame-contract:before {
  content: "\e88d"; }

.lnr-layers:before {
  content: "\e88e"; }

.lnr-funnel:before {
  content: "\e88f"; }

.lnr-text-format:before {
  content: "\e890"; }

.lnr-text-format-remove:before {
  content: "\e891"; }

.lnr-text-size:before {
  content: "\e892"; }

.lnr-bold:before {
  content: "\e893"; }

.lnr-italic:before {
  content: "\e894"; }

.lnr-underline:before {
  content: "\e895"; }

.lnr-strikethrough:before {
  content: "\e896"; }

.lnr-highlight:before {
  content: "\e897"; }

.lnr-text-align-left:before {
  content: "\e898"; }

.lnr-text-align-center:before {
  content: "\e899"; }

.lnr-text-align-right:before {
  content: "\e89a"; }

.lnr-text-align-justify:before {
  content: "\e89b"; }

.lnr-line-spacing:before {
  content: "\e89c"; }

.lnr-indent-increase:before {
  content: "\e89d"; }

.lnr-indent-decrease:before {
  content: "\e89e"; }

.lnr-pilcrow:before {
  content: "\e89f"; }

.lnr-direction-ltr:before {
  content: "\e8a0"; }

.lnr-direction-rtl:before {
  content: "\e8a1"; }

.lnr-page-break:before {
  content: "\e8a2"; }

.lnr-sort-alpha-asc:before {
  content: "\e8a3"; }

.lnr-sort-amount-asc:before {
  content: "\e8a4"; }

.lnr-hand:before {
  content: "\e8a5"; }

.lnr-pointer-up:before {
  content: "\e8a6"; }

.lnr-pointer-right:before {
  content: "\e8a7"; }

.lnr-pointer-down:before {
  content: "\e8a8"; }

.lnr-pointer-left:before {
  content: "\e8a9"; }

body {
  font-family: "Lato";
  background: #F1F1F1;
  padding-bottom: 100px; }

h2 {
  color: #0074A6;
  font-weight: 900; }

.code {
  background-color: #E6E6E6;
  font-family: monospace;
  padding: 3px;
  border-radius: 3px;
  color: #0074A6; }

.navbar .navbar-header .navbar-brand img {
  height: 100%; }

/*# sourceMappingURL=tandoori-ui.css.map */
