@import "dist/_globals.scss";
@import "dist/_utils.scss";
@import "dist/_colors.scss";
@import "dist/_animations.scss";
@import "dist/_layout.scss";
@import "dist/_text.scss";
@import "dist/_images.scss";
@import "dist/_headers.scss";
@import "dist/_list.scss";
// @import "dist/_forms.scss";
@import "dist/_buttons.scss";
@import "dist/_cards.scss";
@import "dist/_list.scss";
@import "dist/_gallery.scss";
@import "dist/_tabs.scss";
@import "dist/_navbar.scss";
@import "dist/_side-menu.scss";
@import "dist/_dropdown.scss";
@import "dist/_loaders.scss";
@import "_linearicons.scss";

$zero: 0;

body {
  font-family: "Lato";
  background: $app-background;
  padding-bottom: 100px;
}

h2 {
  color: $dark-blue;
  font-weight: 900;
}

.code {
  background-color: $lightgrey;
  font-family: monospace;
  padding: 3px;
  border-radius: 3px;
  color: $dark-blue;
}

.navbar {
  .navbar-header {
    .navbar-brand {
      img {
        height: 100%;
      }
    }
  }
}
